.nav-drawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 16;
}

.nav-drawer--visible {
  pointer-events: auto;
}

.nav-drawer::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}
.nav-drawer.nav-drawer--visible::before {
  opacity: 1;
}

.nav-drawer__container {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: #FFF;
  height: 100%;
  box-shadow: 2px 0 12px rgba(0,0,0,0.4);
  transform: translateX(-105%);
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.nav-drawer--visible .nav-drawer__container {
  transform: none;
}

.nav-drawer--animatable .nav-drawer__container {
  transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}

.nav-drawer--visible.nav-drawer--animatable .nav-drawer__container {
  transition: transform 0.25s cubic-bezier(0,0,0.3,1);
}